[safe]
	directory = /home/dev
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Marc Pawlowsky
	email = marcpawl@gmail.com
[credential]
	helper = "!f() { /home/dev/.vscode-server/bin/e54c774e0add60467559eb0d1e229c6452cf8447/node /tmp/vscode-remote-containers-ecc6d797-c5ed-494c-8bf7-5a8edc7c8ec6.js git-credential-helper $*; }; f"
