[safe]
	directory = /home/dev
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Marc Pawlowsky
	email = marcpawl@gmail.com
[credential]
	helper = "!f() { /home/dev/.vscode-server/bin/ddc367ed5c8936efe395cffeec279b04ffd7db78/node /tmp/vscode-remote-containers-4a92b33b-2cea-419d-93a5-2a8b26b21bc3.js git-credential-helper $*; }; f"
